*{
  font-family: 'Open Sans', sans-serif;
}

.about{
    width: 40%;
    margin-left: 10%;
    margin-top:5%;
}

.tag1{
    font-size:2.7vw;
    color:#E9EAEA;
    font-weight:700;
}

.tag2{
   font-size:1.1vw;
    color:#E9EAEA; 
}